 /*Google Font Link*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');
/*Global CSS Start*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-family: 'Lora', serif;
}
h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}

p,span,input,li{
  font-family: 'Noto Sans JP', sans-serif;
}


/*Header Section CSS Start*/


header{
  background: #002333;
}
header nav{}
header .navbar-brand{}
header .navbar-brand img {
    width: 70%;
}
header .nav-item{}
header .nav-item .nav-link{
  color: white !important;
  padding: 10px 30px !important;
  transition: 0.5s ease-in-out;
  font-weight: 500;
}
header .nav-item .nav-link:hover{
  color: #00ff84;
  transition: 0.5s ease-in-out;
}
header .nav-item .demo{
  padding: 10px 30px;
  background: #00ff84;
  border: 1px solid #00ff84;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  transition: 0.5s ease-in-out;

}
header .nav-item .demo:hover{
  background: #12e47f;
  transition: 0.5s ease-in-out;

}
.navbar-collapse {
    width: 100%;
    text-align: center;
    }
.navbar-toggler{}
.navbar-toggler-icon{}
/*Header Section CSS End*/

/*Banner Section CSS Start*/



.banner{
  width: 100%;
  height: 100vh;
  background: url(../img/banner.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}
.banner .banner-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}
.banner .banner-body{
    padding: 170px 0;
}
.banner .banner-body h5{
    color: #00ff84;
    letter-spacing: 2px;
    font-weight: 600;
}
.banner .banner-body h1{
    color: white;
    font-weight: 700;
    padding: 10px 100px !important;
    font-size: 50px;
}
.banner .banner-body p{
    color: white;
    padding: 0 31%;
}
/*.banner .buttons{}*/
.banner .left{
  padding: 20px 0;
  text-align: right;
}
.banner .left span{
  display: block;
  padding-bottom: 20px;
  color: white;
  padding-right: 35px;
}
.banner .left a{
  text-decoration: none;
  padding: 10px 50px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
.banner .left a:hover{
    background: #715d5d6b;;
}
.banner .hr-lines{
    background: white;
    width: 2px;
}
.banner .right{
  padding: 20px 0;
  text-align: left;
}
.banner .right span{
  display: block;
  padding-bottom: 20px;
  color: white;
  padding-left: 35px;
}
.banner .right a{
  text-decoration: none;
  padding: 10px 30px;
  background: #00ff84;
  border: 1px solid #00ff84;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
.banner .right a:hover{
   background: #12e47f;
  transition: 0.5s ease-in-out;
}

/*Banner Section CSS End*/

/*Company Section Start*/

.company{
  padding: 50px 0;
  text-align: center;
}
.company h4{
  padding-bottom: 5px;
  font-weight: 600;
}
.company .c1-img{
    padding: 30px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.company .c2-img{
    padding: 20px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.company .c3-img{
    padding: 30px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.company .c4-img{
    padding: 20px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.company .c5-img{
    padding: 20px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.company .c6-img{
    padding: 15px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.company .c-img img{
}


/*Company Section End*/


/*Plan Section CSS Start*/


.plan{
  padding: 50px 0;
  background-color: #f5f5f5;
  text-align: center;
}
.plan .plan-body{}
.plan .plan-body h2{
    padding: 10px;
    color: #002333;
    font-weight: 600;
}
.plan .plan-body .lines{
    width: 20%;
    height: 5px;
    background: #3722d3;
    margin: 0 auto;
    border-radius: 30px;
}
.plan .plan-body p{
    color: #002333;
    padding: 20px 140px;
    letter-spacing: 1px;
    line-height: 1.7;
}
.plan .plan-body .plan-btn{}
.plan .plan-body .plan-btn a{
  text-decoration: none;
  color: #3722d3;
  border: 2px solid #3722d3;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}
.plan .plan-body .plan-btn a:hover{
  background: #3722d3;
  color: white;
  transition: 0.5s ease-in-out;
}

/*Plan Section CSS End*/

/*Gallary Section CSS Start*/


.gallary{}
.gallary .gallary-img{}
.gallary .gallary-img img{
    height: 350px;
}
.gallary .gallary-text{
    padding: 30px 130px 30px 30px;
}
.gallary .gallary-text h2{
  padding-bottom: 10px;
  color: #002333;
  font-weight: 600;
}
.gallary .gallary-text .lines{
  width: 20%;
  height: 5px;
  background: #3722d3;
  /*margin: 0 auto;*/
  border-radius: 30px;
}
.gallary .gallary-text p{
  color: #002333;
  padding: 20px 0 20px 0;
  letter-spacing: 1px;
  line-height: 1.7;
}
.gallary .gallary-text .gallary-btn{}
.gallary .gallary-text .gallary-btn a{
  text-decoration: none;
  color: #3722d3;
  border: 2px solid #3722d3;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}
.gallary .gallary-text .gallary-btn a:hover{
  background: #3722d3;
  color: white;
  transition: 0.5s ease-in-out;
}


/*Gallary Section CSS End*/


/*Class Video Section CSS Start*/



.class-video{
  padding: 50px 0;
  text-align: center;
  background: #3722d3;
}
.class-video .video-title{
    padding: 20px 55px;
}
.class-video .video-title h2{
    font-weight: 600;
    color: white;
}
.class-video .main-video{}
.class-video .main-video iframe{
    width: 70%;
    height: 400px;
}



/*Class Video Section CSS End*/



/*Testimonial Section CSS Start*/



.testimonial{
  padding: 50px 0;
  text-align: center;
}
.testimonial .testimonial-body{}
.testimonial .testimonial-body .test-logo{}
.testimonial .testimonial-body .test-logo img{}
.testimonial .testimonial-body .speech{
    padding: 20px 110px;
}
.testimonial .testimonial-body .speech p{
  color: #41444b;
  letter-spacing: 1.3px;
  font-size: 18px;
}
.testimonial .testimonial-body .profile{}
.testimonial .testimonial-body .profile .person-name{
    padding-bottom: 10px;
}
.testimonial .testimonial-body .profile .person-name h6{
  color: #41444b;
}
.testimonial .testimonial-body .profile .person-img{}
.testimonial .testimonial-body .profile .person-img img{
    border-radius: 100%;
}

/*Testimonial Section CSS End*/


footer{
  text-align: center;
  padding: 20px 0;
  background: #002333;
}
footer h1{
  font-size: 50px;
  color: white;
  padding: 30px 200px;
}
footer .footer-btn a{
  padding: 10px 30px;
  background: #00ff84;
  border: 1px solid #00ff84;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
footer .footer-btn a:hover{
  background: #12e47f;
  transition: 0.5s ease-in-out;
}
footer ul{
  display: flex;
  justify-content: center;
  padding: 50px 0 0 0;
}
footer ul li{
  list-style: none;
}
footer ul li a{
  color: white;
  text-decoration: underline;
  padding: 0 20px;
}
footer ul li a:hover{
  color: white !important;
}
.responsive-ul{
  display: none;
}
.responsive-ul ul{
  display: flex;
  justify-content: center;
  padding: 50px 0 0 0;
}
.responsive-ul ul li{
  list-style: none;
}
.responsive-ul ul li a{
  color: white;
  text-decoration: underline;
  padding: 0 10px;
}
.responsive-ul ul li a:hover{
color: white !important;
}

footer p{
  color: white;
}


        /*Media Query*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (max-width: 1199px) {
  
  .banner .banner-body h1 {
    font-size: 42px;
}
.banner .banner-body p {
    padding: 0 28%;
}
.plan .plan-body p {
    padding: 20px 50px;
}
.gallary .gallary-text {
    padding: 25px 50px 25px 30px;
}
.testimonial .testimonial-body .speech {
    padding: 20px;
}
footer h1 {
    font-size: 42px;
    padding: 30px 200px;
}
.responsive-ul{
  display: none;
}

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (max-width: 991px) {
  
  .banner .banner-body {
    padding: 160px 0;
}
.banner .banner-body h1 {
    padding: 10px 0px !important;
    font-size: 40px;
}
.gallary .gallary-text {
    padding: 15px 0px 20px 15px;
}
header .navbar-brand img {
    width: 50%;
}
.gallary .gallary-img img {
    height: 250px;
}
.gallary .gallary-text h2 {
    font-size: 25px !important;
}
.gallary .gallary-img {
    padding: 40px 0;
}
footer h1 {
    font-size: 35px;
    padding: 30px 90px;
}
.responsive-ul{
  display: none;
}




}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 767px) {
  header .navbar-brand {
    width: 80%;
}
  .banner .banner-body h1 {
    font-size: 30px;
}
.banner .banner-body h5 {
    font-size: 18px;
}
.banner .banner-body p {
    padding: 0 20%;
}

  .bttn{
    width: 50% !important;
  }
  .company h4 {
    font-size: 25px;
}
.c-pany{
  width: 50% !important;
}
.gallary {
    text-align: center;
}
.gallary .gallary-text .lines {
    margin: 0 auto;
}
.gallary .gallary-img img {
    height: auto;
}
.class-video .video-title {
    padding: 20px 0;
}
.class-video .main-video iframe {
    width: 90%;
    height: 350px;
}
.testimonial .testimonial-body .speech {
    padding: 20px 0;
}
footer h1 {
    font-size: 30px;
    padding: 30px 70px;
}
footer .footer-btn a {
    padding: 10px 15px;
}
footer ul li a {
    padding: 0 4px;
}
.responsive-ul{
  display: none;
}


}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 575px) {
  header .navbar-brand {
    width: 70%;
}
.banner .banner-body {
    padding: 130px 0;
}
  .banner .banner-body h5 {
    font-size: 15px;
}
.banner .banner-body h1 {
    font-size: 25px;
}
.banner .banner-body p {
    padding: 0 0%;
}
.banner .left a {
    padding: 10px 28px;
}
.banner .left span {
    padding-right: 15px;
    text-align: right;
}
.banner .right a {
    padding: 10px 8px;
}
.banner .right span {
    padding-left: 15px;
    text-align: left;
}
.plan .plan-body h2 {
    font-size: 20px;
}
.plan .plan-body p {
    padding: 20px 0px;
}
.gallary .gallary-text h2 {
    font-size: 20px !important;
}
.class-video .video-title h2 {
    font-size: 20px !important;
}
.class-video .main-video iframe {
    width: 100%;
    height: 250px;
}
.testimonial .testimonial-body .speech p {
    font-size: 14px;
    letter-spacing: 1px !important;
}
footer h1 {
    font-size: 23px;
    padding: 30px 0px;
}
.responsive-ul{
  display: block;
}
footer ul {
    display: none;
}


}


@media (max-width: 320px) {
.banner .left a {
    padding: 10px 28px;
}
.banner .left span {
    padding-right: 0;
    text-align: center;
}
.banner .right a {
    padding: 10px 8px;
}
.banner .right span {
    padding-left: 0;
    text-align: center;
  }
}